<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    {% include "../includes/layout_head.twig" %}
    {% block assets %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

{% block content %}{% endblock %}

{% include "../includes/script_localization.twig" %}

</body>
</html>
