<div class="row">
    <div class="col-8 text-center">
        <img src="/assets/img/controller/psx.png" alt="PlayStation Controller" class="img-fluid ps-3 pe-3">
    </div>
    <div class="col-4">
        {% include "control.twig" with btn_id="a"                   btn_title="Circle"              btn_value=controls.A %}
        {% include "control.twig" with btn_id="b"                   btn_title="Cross"               btn_value=controls.B %}
        {% include "control.twig" with btn_id="x"                   btn_title="Triangle"            btn_value=controls.X %}
        {% include "control.twig" with btn_id="y"                   btn_title="Square"              btn_value=controls.Y %}
        {% include "control.twig" with btn_id="select"              btn_title="Select"              btn_value=controls.Select %}
        {% include "control.twig" with btn_id="start"               btn_title="Start"               btn_value=controls.Start %}
        {% include "control.twig" with btn_id="up"                  btn_title="Up"                  btn_value=controls.Up %}
        {% include "control.twig" with btn_id="down"                btn_title="Down"                btn_value=controls.Down %}
        {% include "control.twig" with btn_id="left"                btn_title="Left"                btn_value=controls.Left %}
        {% include "control.twig" with btn_id="right"               btn_title="Right"               btn_value=controls.Right %}
        {% include "control.twig" with btn_id="l"                   btn_title="L"                   btn_value=controls.L %}
        {% include "control.twig" with btn_id="r"                   btn_title="R"                   btn_value=controls.R %}
        {% include "control.twig" with btn_id="l2"                  btn_title="L2"                  btn_value=controls.L2 %}
        {% include "control.twig" with btn_id="r2"                  btn_title="R2"                  btn_value=controls.R2 %}
        {% include "control.twig" with btn_id="l3"                  btn_title="L3"                  btn_value=controls.L3 %}
        {% include "control.twig" with btn_id="r3"                  btn_title="R3"                  btn_value=controls.R3 %}
        {% include "control.twig" with btn_id="l-stick-up"          btn_title="L Stick Up"          btn_value=controls.LStickUp %}
        {% include "control.twig" with btn_id="l-stick-down"        btn_title="L Stick Down"        btn_value=controls.LStickDown %}
        {% include "control.twig" with btn_id="l-stick-left"        btn_title="L Stick Left"        btn_value=controls.LStickLeft %}
        {% include "control.twig" with btn_id="l-stick-right"       btn_title="L Stick Right"       btn_value=controls.LStickRight %}
        {% include "control.twig" with btn_id="r-stick-up"          btn_title="R Stick Up"          btn_value=controls.RStickUp %}
        {% include "control.twig" with btn_id="r-stick-down"        btn_title="R Stick Down"        btn_value=controls.RStickDown %}
        {% include "control.twig" with btn_id="r-stick-left"        btn_title="R Stick Left"        btn_value=controls.RStickLeft %}
        {% include "control.twig" with btn_id="r-stick-right"       btn_title="R Stick Right"       btn_value=controls.RStickRight %}
        {% include "control.twig" with btn_id="quick-save-state"    btn_title="Quick Save State"    btn_value=controls.QuickSaveState %}
        {% include "control.twig" with btn_id="quick-load-state"    btn_title="Quick Load State"    btn_value=controls.QuickLoadState %}
        {% include "control.twig" with btn_id="change-state-slot"   btn_title="Change State Slot"   btn_value=controls.ChangeStateSlot %}
    </div>
</div>
