<ul class="nav nav-underline nav-fill mb-3" id="settings-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active"
                id="settings-emulation-tab"
                data-bs-toggle="tab"
                data-bs-target="#settings-emulation"
                type="button"
                role="tab"
                aria-controls="settings-emulation"
                aria-selected="true">Emulation</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="settings-core-tab"
                data-bs-toggle="tab"
                data-bs-target="#settings-core"
                type="button"
                role="tab"
                aria-controls="settings-core"
                aria-selected="false">Core options</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="settings-ui-tab"
                data-bs-toggle="tab"
                data-bs-target="#settings-ui"
                type="button"
                role="tab"
                aria-controls="settings-ui"
                aria-selected="false">UI</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="settings-buttons-tab"
                data-bs-toggle="tab"
                data-bs-target="#settings-buttons"
                type="button"
                role="tab"
                aria-controls="settings-buttons"
                aria-selected="false">Buttons</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="settings-controls-tab"
                data-bs-toggle="tab"
                data-bs-target="#settings-controls"
                type="button"
                role="tab"
                aria-controls="settings-controls"
                aria-selected="false">Controls</button>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="settings-emulation" role="tabpanel" aria-labelledby="settings-emulation-tab" tabindex="0">
        {% include "platform_settings/emulation.twig" %}
    </div>
    <div class="tab-pane" id="settings-core" role="tabpanel" aria-labelledby="settings-core-tab" tabindex="1">
        {% include "platform_settings/core_options.twig" %}
    </div>
    <div class="tab-pane" id="settings-ui" role="tabpanel" aria-labelledby="settings-ui-tab" tabindex="2">
        {% include "platform_settings/ui.twig" %}
    </div>
    <div class="tab-pane" id="settings-buttons" role="tabpanel" aria-labelledby="settings-buttons-tab" tabindex="3">
        {% include "platform_settings/emulator_buttons.twig" %}
    </div>
    <div class="tab-pane" id="settings-controls" role="tabpanel" aria-labelledby="settings-controls-tab" tabindex="4">
        {% include "platform_settings/controls.twig" %}
    </div>
</div>

<div id="modal-keyboard-control" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Keyboard for player <span id="keyboard-control-player"></span> - <span id="keyboard-control-title"></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div>Press keyboard button to assign</div>
                <div id="keyboard-control-button" class="mt-5 mb-5"></div>
                <input type="hidden" id="keyboard-control-input" value="">
            </div>
            <div class="modal-footer">
                <button id="keyboard-control-clear" type="button" class="btn btn-outline-secondary">Clear</button>
                <button id="keyboard-control-save" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-gamepad-control" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Gamepad for player <span id="gamepad-control-player"></span> - <span id="gamepad-control-title"></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <h5 id="gamepad-control-name">Gamepad not identified</h5>
                <div id="gamepad-control-button" class="mt-5 mb-5"></div>
                <input type="hidden" id="gamepad-control-input" value="">
            </div>
            <div class="modal-footer">
                <button id="gamepad-control-clear" type="button" class="btn btn-outline-secondary">Clear</button>
                <button id="gamepad-control-save" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
