<div class="form-floating mb-3">
    <input type="text" id="name" name="name" class="form-control" value="{{game.Name}}" placeholder="Game name" required>
    <label for="name">Name</label>
</div>

<div class="form-floating mb-3">
    <select id="platform" name="platform" class="form-select">
        <option value="">Undefined</option>
        {% for platform in platforms %}
            <option value="{{ platform.Id }}" {% if platform.Id == game.Platform %}selected{% endif %}>{{ platform.Name }}</option>
        {% endfor %}
    </select>
    <label for="platform">Platform</label>
</div>

{% if netplay_enabled %}
    <div class="mb-3">
        <div class="form-check">
            <input type="checkbox" id="netplay-enabled" name="netplay-enabled" value="1" class="form-check-input" {% if game.NetplayEnabled %}checked{% endif %}>
            <label for="netplay-enabled" class="form-check-label">Netplay enabled</label>
        </div>
    </div>
{% endif %}

<div class="mb-3">
    <div class="form-check">
        <input type="checkbox" id="override-settings" name="override-settings" value="1" class="form-check-input" {% if game.OverrideEmulatorSettings %}checked{% endif %}>
        <label for="override-settings" class="form-check-label">Override emulation settings</label>
    </div>
</div>

<hr>

<div class="mb-3 text-end">
    <button type="submit" class="btn btn-primary">Save</button>
</div>
