<div id="modal-load-state" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ loc("play.load-state.header") }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ loc("play.load-state.close.title") }}"></button>
            </div>
            <div class="modal-body">

                <div id="load-state-list" class="row"></div>

                <div id="load-state-empty" class="d-none">
                    {% include "empty_state.twig" with icon="bi bi-box-arrow-down" text=loc("play.load-state.empty") %}
                </div>
            </div>
        </div>
    </div>
</div>
