<div id="modal-control-scheme" class="modal modal-lg" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Controls</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <h5>Keyboard controls</h5>
                <ul class="nav nav-tabs" id="controls-keyboard-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                                id="keyboard-player-0-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#keyboard-player-0"
                                type="button"
                                role="tab"
                                aria-controls="keyboard-player-0"
                                aria-selected="true"
                        >Player 1</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="keyboard-player-1-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#keyboard-player-1"
                                type="button"
                                role="tab"
                                aria-controls="keyboard-player-1"
                                aria-selected="false"
                        >Player 2</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="keyboard-player-2-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#keyboard-player-2"
                                type="button"
                                role="tab"
                                aria-controls="keyboard-player-2"
                                aria-selected="false"
                        >Player 3</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="keyboard-player-3-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#keyboard-player-3"
                                type="button"
                                role="tab"
                                aria-controls="keyboard-player-3"
                                aria-selected="false"
                        >Player 4</button>
                    </li>
                </ul>
                <div class="tab-content" id="controls-keyboard">
                    <div class="tab-pane active" id="keyboard-player-0" role="tabpanel" aria-labelledby="keyboard-player-0-tab" tabindex="0">
                        {% set platform_id = game.Platform %}
                        {% set input = "keyboard" %}
                        {% set player = "0" %}
                        {% set controls_group = emulator_settings.Controls[0] %}
                        {% set controls = controls_group.Keyboard %}
                        {% include "control_scheme/control_scheme.twig" %}
                    </div>
                    <div class="tab-pane" id="keyboard-player-1" role="tabpanel" aria-labelledby="keyboard-player-1-tab" tabindex="1">
                        {% set platform_id = game.Platform %}
                        {% set input = "keyboard" %}
                        {% set player = "1" %}
                        {% set controls_group = emulator_settings.Controls[1] %}
                        {% set controls = controls_group.Keyboard %}
                        {% include "control_scheme/control_scheme.twig" %}
                    </div>
                    <div class="tab-pane" id="keyboard-player-2" role="tabpanel" aria-labelledby="keyboard-player-2-tab" tabindex="2">
                        {% set platform_id = game.Platform %}
                        {% set input = "keyboard" %}
                        {% set player = "2" %}
                        {% set controls_group = emulator_settings.Controls[2] %}
                        {% set controls = controls_group.Keyboard %}
                        {% include "control_scheme/control_scheme.twig" %}
                    </div>
                    <div class="tab-pane" id="keyboard-player-3" role="tabpanel" aria-labelledby="keyboard-player-3-tab" tabindex="3">
                        {% set platform_id = game.Platform %}
                        {% set input = "keyboard" %}
                        {% set player = "3" %}
                        {% set controls_group = emulator_settings.Controls[3] %}
                        {% set controls = controls_group.Keyboard %}
                        {% include "control_scheme/control_scheme.twig" %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
