h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}

html[data-bs-theme="dark"] .list-group-hover .list-group-item:hover {
    background-color: rgba(255, 255, 255, .05);
}
.list-group-hover .list-group-item:hover {
    background-color: rgba(0, 0, 0, .05);
}

.card .card-body .card-body-collapse {
    padding: 0 !important;
}

#drop-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.drop-overlay-caption {
    margin-top: 45vh;
}
.drop-overlay-caption i {
    font-size: 5em;
}
.drop-overlay-caption p {
    font-size: 1.5em;
}

#keyboard-control-button, #gamepad-control-button {
    font-size: 1.5em;
}
