h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Comfortaa, Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
.navbar .navbar-brand,
.navbar .nav-link,
.navbar .navbar-text {
    font-family: Comfortaa, Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 300;
}
.empty-state-text {
    font-family: Comfortaa, Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}
body {
    font-family: Raleway, Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

/*****************************************************************************/

html[data-bs-theme="dark"] .list-group-hover .list-group-item:hover {
    background-color: rgba(255, 255, 255, .05);
}
.list-group-hover .list-group-item:hover {
    background-color: rgba(0, 0, 0, .05);
}

/*****************************************************************************/

.card .card-body .card-body-collapse {
    padding: 0 !important;
}

/*****************************************************************************/

#navbar .navbar-decoration {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
}

#navbar .navbar-decoration div {
    width: 5px;
    height: 19px;
}

#navbar .navbar-decoration .decor-red {
    background-color: #dc3545;
}
#navbar .navbar-decoration .decor-green {
    background-color: #198754;
}
#navbar .navbar-decoration .decor-blue {
    background-color: #0d6efd;
}


/*****************************************************************************/

#drop-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.drop-overlay-caption {
    margin-top: 45vh;
}
.drop-overlay-caption i {
    font-size: 5em;
}
.drop-overlay-caption p {
    font-size: 1.5em;
}

/*****************************************************************************/

#keyboard-control-focus {
    text-transform: uppercase;
}
#modal-keyboard-control:focus #keyboard-control-focus {
    visibility: hidden;
}
#modal-keyboard-control #keyboard-control-focus {
    visibility: visible;
}

#keyboard-control-button, #gamepad-control-button {
    font-size: 1.5em;
}
