{# platform_id, player, controls #}

<div class="mt-3">
    {% if platform_id == "nes" %}
        {% include "controls/nes.twig" %}
    {% elif platform_id == "snes" %}
        {% include "controls/snes.twig" %}
    {% elif platform_id == "n64" %}
        {% include "controls/n64.twig" %}
    {% elif platform_id == "gb" %}
        {% include "controls/gb.twig" %}
    {% elif platform_id == "gba" %}
        {% include "controls/gba.twig" %}
    {% elif platform_id == "nds" %}
        {% include "controls/nds.twig" %}
    {% elif platform_id == "vb" %}
        {% include "controls/vb.twig" %}
    {% elif platform_id == "segaMS" %}
        {% include "controls/segaMS.twig" %}
    {% elif platform_id == "segaMD" or platform_id == "segaCD" or platform_id == "sega32x" %}
        {% include "controls/segaMD.twig" %}
    {% elif platform_id == "segaGG" %}
        {% include "controls/segaGG.twig" %}
    {% elif platform_id == "segaSaturn" %}
        {% include "controls/segaSaturn.twig" %}
    {% elif platform_id == "psx" %}
        {% include "controls/psx.twig" %}
    {% elif platform_id == "3do" %}
        {% include "controls/3do.twig" %}
    {% elif platform_id == "atari7800" %}
        {% include "controls/atari7800.twig" %}
    {% elif platform_id == "atari2600" %}
        {% include "controls/atari2600.twig" %}
    {% elif platform_id == "lynx" %}
        {% include "controls/lynx.twig" %}
    {% elif platform_id == "jaguar" %}
        {% include "controls/jaguar.twig" %}
    {% elif platform_id == "pce" %}
        {% include "controls/pce.twig" %}
    {% elif platform_id == "pcfx" %}
        {% include "controls/pcfx.twig" %}
    {% elif platform_id == "ngp" %}
        {% include "controls/ngp.twig" %}
    {% elif platform_id == "ws" %}
        {% include "controls/ws.twig" %}
    {% elif platform_id == "coleco" %}
        {% include "controls/coleco.twig" %}
    {% else %}
        {# a5200, mame2003, arcade #}
        {% if platform_id == "c64" %}
            {% set console_img = "c64.png" %}
            {% set console_img_alt = "Commodore 64" %}
        {% elif platform_id == "c128" %}
            {% set console_img = "c128.png" %}
            {% set console_img_alt = "Commodore 128" %}
        {% elif platform_id == "pet" %}
            {% set console_img = "pet.png" %}
            {% set console_img_alt = "Commodore PET" %}
        {% elif platform_id == "vic20" %}
            {% set console_img = "vic.png" %}
            {% set console_img_alt = "Commodore VIC20" %}
        {% elif platform_id == "a5200" %}
            {% set console_img = "a5200.png" %}
            {% set console_img_alt = "Atari 5200" %}
        {% endif %}
        {% include "controls/default.twig" %}
    {% endif %}
</div>
