<div class="row">
    <div class="col-6 col-sm-3 mb-2">
        {% include "emulator_buttons_button.twig" with btn_id="play-pause" btn_title="Play / Pause" btn_value=settings.Buttons.PlayPause %}
    </div>
    <div class="col-6 col-sm-3 mb-2">
        {% include "emulator_buttons_button.twig" with btn_id="restart" btn_title="Restart" btn_value=settings.Buttons.Restart %}
    </div>
    <div class="col-6 col-sm-3 mb-2">
        {% include "emulator_buttons_button.twig" with btn_id="mute" btn_title="Mute" btn_value=settings.Buttons.Mute %}
    </div>
    <div class="col-6 col-sm-3 mb-2">
        {% include "emulator_buttons_button.twig" with btn_id="settings" btn_title="Settings" btn_value=settings.Buttons.Settings %}
    </div>
    <div class="col-6 col-sm-3 mb-2">
        {% include "emulator_buttons_button.twig" with btn_id="full-screen" btn_title="Full screen" btn_value=settings.Buttons.FullScreen %}
    </div>
    <div class="col-6 col-sm-3 mb-2">
        {% include "emulator_buttons_button.twig" with btn_id="save-state" btn_title="Save state" btn_value=settings.Buttons.SaveState %}
    </div>
    <div class="col-6 col-sm-3 mb-2">
        {% include "emulator_buttons_button.twig" with btn_id="load-state" btn_title="Load state" btn_value=settings.Buttons.LoadState %}
    </div>
    <div class="col-6 col-sm-3 mb-2">
        {% include "emulator_buttons_button.twig" with btn_id="screen-record" btn_title="Screen record" btn_value=settings.Buttons.ScreenRecord %}
    </div>
    <div class="col-6 col-sm-3 mb-2">
        {% include "emulator_buttons_button.twig" with btn_id="gamepad" btn_title="Gamepad" btn_value=settings.Buttons.Gamepad %}
    </div>
    <div class="col-6 col-sm-3 mb-2">
        {% include "emulator_buttons_button.twig" with btn_id="cheat" btn_title="Cheats" btn_value=settings.Buttons.Cheat %}
    </div>
    <div class="col-6 col-sm-3 mb-2">
        {% include "emulator_buttons_button.twig" with btn_id="volume" btn_title="Volume" btn_value=settings.Buttons.Volume %}
    </div>
    <div class="col-6 col-sm-3 mb-2">
        {% include "emulator_buttons_button.twig" with btn_id="save-sav-files" btn_title="Save SAV files" btn_value=settings.Buttons.SaveSavFiles %}
    </div>
    <div class="col-6 col-sm-3 mb-2">
        {% include "emulator_buttons_button.twig" with btn_id="load-sav-files" btn_title="Load SAV files" btn_value=settings.Buttons.LoadSavFiles %}
    </div>
    <div class="col-6 col-sm-3 mb-2">
        {% include "emulator_buttons_button.twig" with btn_id="quick-save" btn_title="Quick save" btn_value=settings.Buttons.QuickSave %}
    </div>
    <div class="col-6 col-sm-3 mb-2">
        {% include "emulator_buttons_button.twig" with btn_id="quick-load" btn_title="Quick load" btn_value=settings.Buttons.QuickLoad %}
    </div>
    <div class="col-6 col-sm-3 mb-2">
        {% include "emulator_buttons_button.twig" with btn_id="screenshot" btn_title="Screenshot" btn_value=settings.Buttons.Screenshot %}
    </div>
    <div class="col-6 col-sm-3 mb-2">
        {% include "emulator_buttons_button.twig" with btn_id="cache-manager" btn_title="Cache manager" btn_value=settings.Buttons.CacheManager %}
    </div>
</div>
