{% extends "includes/layout.twig" %}

{% block title %}
    Error - playtime
{% endblock %}

{% block content %}
    <h1>Error {{ error.Code }}</h1>
    <p>
        {% if error.Message %}
            {{ error.Message }}
        {% else %}
            {{ error.Error() }}
        {% endif %}
    </p>
{% endblock %}
