<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>

<h1>That's an error.</h1>

<p>
    {{ error.Code }} {{ error.Message }}
</p>

</body>
</html>
