{% extends "includes/layout.twig" %}

{% block title %}
    Edit game - playtime
{% endblock %}

{% block content %}

    <h1>Edit game</h1>
    <hr>

    <form method="post" action="/games/edit/{{ game.Id }}" enctype="application/x-www-form-urlencoded">
        {% include "includes/form_game.twig" %}
    </form>

{% endblock %}
