{% extends "layouts/layout.twig" %}

{% block title %}
    Game settings - playtime
{% endblock %}

{% block content %}

    <h1>Game settings</h1>
    <hr>

    <form method="post" action="/games/edit/{{ game.Id }}" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_playtime_csrf" value="{{ _csrf_token }}">
        {% include "includes/form_game.twig" %}
    </form>

{% endblock %}
