<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    {% include "includes/layout_head.twig" %}
    <title>Netplay {{ game.Name }} - playtime</title>
</head>
<body>

<p class="lead">TODO</p>

<script src="/assets/ui-utils.js"></script>

</body>
</html>
