{% extends "layouts/layout.twig" %}

{% block title %}
    Settings - playtime
{% endblock %}

{% block content %}
    <h1>Settings</h1>
    <hr>

    {% if netplay_enabled %}
        <div class="alert alert-info mb-3">
            <i class="bi bi-globe"></i> Netplay enabled. Activate in the game settings to play
        </div>
    {% endif %}

    <h2>General</h2>

    {% if done %}
        <div class="alert alert-success mb-3">Settings saved</div>
    {% endif %}

    <form action="/settings" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_playtime_csrf" value="{{ _csrf_token }}">
        {% include "includes/form_settings.twig" %}
        <div class="mb-3 text-end">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

    <hr>
    <h2>Settings by platform</h2>

    <div class="list-group list-group-hover mb-3">
        {% for platform in platforms %}
            {% if platform.Id %}
                <a class="lead list-group-item list-group-item-action" href="/settings/{{ platform.Id }}">{{ platform.Name }}</a>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
